.card {
	&-img {
		display: block;
		width: 100%;
		margin-bottom: 24px;
	}

	&-title {
		font-size: 26px;
		line-height: 30px;
		margin: 0 0 16px;

		@media (max-width: @mobile) {
			font-size: 20px;
			line-height: 20px;
		}
	}

	&-subtitle {
		font-size: 22px;
		line-height: 26px;
		margin: 0 0 8px;

		@media (max-width: @mobile) {
			font-size: 18px;
			line-height: 20px;
		}
	}

	&-text {
		margin: 0 0 16px;
	}

	&-text,
	&-link {
		font-size: 16px;
		line-height: 18px;
	}

	&-link {
		display: inline-block;
		box-sizing: border-box;
		@media (max-width: @mobile) {
			display: block;
			width: 100%;
		}
	}
}