body {
	font: 22px/25px Arial, sans-serif;
}

.is-hidden {
	display: none !important;
}

.container {
	width: 1030px;
	margin: 0 auto;
}

button {
	cursor: pointer;
	background: 0;
	border: 0;
}

.button {
	color: @black;
	background-color: @main-light;
	border-radius: 4px;
	text-decoration: none;
	padding: 13px 15px;
	transition: background-color .4s;
	cursor: pointer;
	&:hover {
		background-color: @main-light-hov;
	}

	&_violet {
		color: @white;
		background-color: @main;
		&:hover {
			background-color: @main-hov;
		}
	}

	&-skip {
		position: absolute;
		top: -100px;
		left: 20px;
		transition: background-color .4s, top .4s;

		&:focus {
			top: 20px;
		}
	}
}