.navigate {
	margin-bottom: 40px;

	&__list {
		display: flex;
		list-style: none;
		padding: 0;
		@media (max-width: @mobile) {
			display: block;
		}

		&-item {
			&:not(:last-child) {
				margin-right: 40px;
				@media (max-width: @mobile) {
					margin-bottom: 15px;
				}
			}
		}

		&-link {
			color: @black;
			&:hover {
				color: @link;
			}
		}
	}
}